<% include ../includes/header.ejs%>
<div class="container">
    <div class="pannel panel-primary">
        <div class="panel-heading">
            <h1 class="text-center"><%=art.title%></h1>
        </div>
        <div class="panel-body">
            <%-art.content%>
        </div>

        <%if(user && user._id ==art.user){%>
        <div class="panel-footer">
            <a href="/articles/edit/<%=art._id%>" class="btn btn-primary">编辑</a>
            <a href="/articles/delete/<%=art._id%>" class="btn btn-danger">删除</a>
        </div>
        <%}%>
    </div>
</div>
<% include ../includes/footer.ejs%>

